[Unit]
Description=Jira Ninja Supervisor Service
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/jira_ninja/.venv/bin/python /home/ubuntu/jira_ninja/main_supervisor.py
WorkingDirectory=/home/ubuntu/jira_ninja
Restart=always
RestartSec=30
EnvironmentFile=/home/ubuntu/jira_ninja/jira_ninja.env
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
